<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
  </head>
  <body>
    <h1>NYC is located in {{ region_name.title() }} {{ country.upper() }}</h1>
    <img height="100px" width="100px" src={{ url[1] }} alt="NYC">
    <h2>{{ message.capitalize() }} {% for item in city %}
        {% if item == "philadelphia" %}
          {{ item.title() }}!
        {% endif %}
      {% endfor %}
    </h2>
    <p>{{ region_name.title() }} {{ country.upper() }} is region number {{ region_num }}!</p>

    <form action="/showresults" method="POST">
      First name:<br>
      <input type="text" name="firstname" value="Mickey">
      <br>
      Last name:<br>
      <input type="text" name="lastname" value="Mouse">
      <br>
      Age:<br>
      <input type="text" name="age" value="83">
      <br><br>
      <input type="submit" value="Submit">
    </form>
    {% for item in query_result %}
      <p>{{ item.firstname }} is {{ item.lastname }}</p>
    {% endfor %}
  </body>
</html>
